body{word-spacing:5px;
	font-size:20px;
text-align:center;
background: ;
background-repeat:no-repeat;
background-size:cover;

}
marquee{color:blue;
font-family:oswald-bold;
}



h1{color:blue;
	font-family: dancing script;
	text-align:center;}
	
	h2{text-align:center;
		color:blue;}
	
	#head{background:linear-gradient(skyblue,white,skyblue);}
	
#reg{
		width:70px;
		height:30px;}
		
		
		button{background:lightgreen;
			width:300px;
			height:50px;
			font-size:20px;
		}
		
		
		button:hover{background:green;
			color:white;}
			button:active{background: orange;}
			
		
		input{height:30px;
			width:60%;}
			
			h3{text-align:center;
				color:tomato;}
				
				table{
					border:5px;
					cell-padding:5px;
					background-color:skyblue;
				width:100%;
					background-repeat:no-repeat;
					background-size:cover;
				}
					
				.box a{display:block; 
					text-align: center;
					border:solid 1px blue;
						border-height:100px;
						color:blue;
						background:linear-gradient(lightblue,white);
						background-width:100%;
					}
					a:hover{color:orange;}
				
					footer{
						padding: 20px;
						margin-top: 20px;
						text-align: center;
						color:white;
						background:skyblue;
					}
					.em{ font-size: 4em; }
					
					.acc button{border-radius: 20px;
						width: 150px;
						height: 40px;
						background: linear-gradient(blue,skyblue);
						color: white;}	
					.acc button:hover{background:linear-gradient(grey,white);
						color:blue;}
					  
					  
					.alert{color:red;}
					.emo{font-size: 8em;
						color:red;}
	.co{background: linear-gradient(to left,lightgreen,white)}
	#about{background: linear-gradient(to top,lightblue,white);}
	#about th{background: skyblue;}
	.other button{background: linear-gradient(skyblue,white);
		border-radius: 15px;}
		.other button:hover{background: linear-gradient(lightblue,blue);}

.recover input{width: 200px;}
.recover button{border-radius:15px;
background: linear-gradient(white,blue,white);
width:100px;
height:25px;
}
.club h2{font-family: dancing script;
text-decoration: underline;
color:orange;}
.club figcaption{color: blue;
font-family: lobster;}
.club figure{border: solid 1px blue;
border-radius: 3px;
box-shadow: 0 3px 6px;}
.club image{height: 100px;
width:100%;}

.pics figure figcaption{color:violet;
font-family:oswald-bold;
text-decoration: underline;
}
.science img{width: 320px;
height:500px;}
.science figcaption{color:blue;
font-family: oswald-bold;}
.science figure{border:solid 2px skyblue;
border-radius: 4px;
box-shadow: 0 6px 12px;}
